// components__new_password_inner
form
  .row.mb-4
    .col-12.mb-4
      label.form-label.mb-1(for='new_password') 輸入新密碼
      input#new_password.form-control.px-6(
        type='password',
        placeholder='請輸入新密碼',
        name='新密碼',
      )
      .w-100.invalid-feedback 請輸入新密碼 errors
    .col-12.mb-4
      label.form-label.mb-1(for='confirm_new_password') 再次輸入
      input#confirm_new_password.form-control.px-6(
        type='password',
        placeholder='再次輸入新密碼',
        name='再次輸入新密碼',
      )
      .w-100.invalid-feedback 再次輸入新密碼 errors
    .col-12.d-none
      p.small.text-center.text-danger.mt-4.mb-0 errorMessage.updatePassword
  button.btn.btn-primary.btn-lg.d-block.w-100.fw-bold(
    type="button",
    disabled
  ) 重設密碼
// /components__new_password_inner
