// components__stickyNavMain
nav.p-stickyNavMain.border.border-3.border-top-0.border-start-0.border-end-0.border-dark.bg-white
  .container
    .row
      .navbar.navbar-expand-lg.navbar-light.justify-content-between.py-3
        a.c-logo(href="allDynamicWall.html", title="MetaWall logo") MetaWall
        .btn-group
          a.text-decoration-none.d-flex.align-items-center(
            href="#" data-bs-toggle='dropdown' data-bs-display='static' aria-expanded='false'
          )
            span.c-pseudoOneToOne.c-pseudoOneToOne--round.c-pseudoOneToOne--xs.c-pseudoOneToOne--user.me-2(
              style=`background-image: url(assets/static-images/user--邊緣小杰.png)`
            )
            span.u-fontFamily--AzeretMono.fw-bold.text-dark.lh-19.px-1.pb-1.border-dark.border-bottom
              | Member
          ul.dropdown-menu.dropdown-menu-end.dropdown-menu-lg-start.text-center.u-solidDoubShadow-rb
            li.border.border-dark.border-2.border-top-0.border-start-0.border-end-0
              button.dropdown-item.py-2(
                type='button',
                onClick='document.location.href = "personalPosts-layout.html"'
              ) 我的貼文牆
            li.border.border-dark.border-2.border-top-0.border-start-0.border-end-0
              button.dropdown-item.py-2(
                type='button',
                onClick='document.location.href = "editProfile-layout.html"'
              ) 修改個人資料
            li.border.border-dark.border-0
              button.dropdown-item.py-2(type='button', @click='signout') 登出
// /components__stickyNavMain
