extends extends/_layoutTemplate_innerPage.jade

block app_inner
  Loading(:active.sync="isLoading")
  include ./components/_stickyNavMain.jade

block bodyMainPush
  .col-lg
    h1.h5.text-center.fw-bold.bg-white.border.border-2.border-dark.rounded-0.u-solidDoubShadow-lb.py-4.mb-8
      | 修改個人資料
    .nav.nav-tabs.border-bottom-0.mx-4
      button.nav-link.active(
        data-bs-toggle='tab',
        data-bs-target='#nav-profile',
        type='button',
        role='tab'
      ) 暱稱修改
      button.nav-link(
        data-bs-toggle='tab',
        data-bs-target='#nav-changePassword',
        type='button',
        role='tab'
      ) 重設密碼
    #nav-tabContent.tab-content.bg-white.card.u-solidShadow-b
      #nav-profile.tab-pane.card-body.p-4.py-md-8.px-md-26.fade.show.active(
        role='tabpanel',
        aria-labelledby='nav-profile-tab'
      )
        //- include ./components/_edit_profile_inner.jade
        // edit_profile_inner
        .d-flex.flex-wrap.justify-content-center.mb-3
          user-avatar.mx-auto.mb-4(
            :img-url='userData.avatarUrl',
            :incom-class='"c-pseudoOneToOne--xl"'
          )
          //- .c-pseudoOneToOne.c-pseudoOneToOne--round.c-pseudoOneToOne--xl.c-pseudoOneToOne--user.mx-auto.mb-4( 
          //-   :style='{ backgroundImage: userData.avatarUrl ? `url(${ userData.avatarUrl })` : "" }',
          //- )
          .w-100.text-center
            .btn.btn-dark.c-btnFile.rounded-0.px-6.py-1.shadow-none
              span 上傳大頭照
              input.c-btnFile__input(type='file')
        .mb-4
          label.form-label.mb-1(for='profile_name') 暱稱
          input#profile_name.form-control.px-6(
            type='text',
            placeholder='請輸入暱稱',
            v-model='userData.userName'
          )
        .mb-8
          label.form-label.mb-1(for='profile_gender') 性別
          div
            .form-check.form-check-inline
              input#profile_gender_male.form-check-input(
                type='radio',
                name='profile_gender',
                value='male',
                v-model="userData.gender"
              )
              label.form-check-label(for='profile_gender_male') 男性
            .form-check.form-check-inline
              input#profile_gender_woman.form-check-input(
                type='radio',
                name='profile_gender',
                value='woman',
                v-model="userData.gender"
              )
              label.form-check-label(for='profile_gender_woman') 女性
            .form-check.form-check-inline
              input#profile_gender_unknown.form-check-input(
                type='radio',
                name='profile_gender',
                value='',
                v-model="userData.gender"
              )
              label.form-check-label(for='profile_gender_unknown') 未知
        // /edit_profile_inner
        button.btn.btn-warning.btn-lg.d-block.w-100.fw-bold(
          type='button',
          @click='patchProfile',
        ) 送出更新
      #nav-changePassword.tab-pane.card-body.p-4.py-md-8.px-md-26.fade(
        role='tabpanel',
        aria-labelledby='nav-changePassword-tab'
      )
        //- include ./components/_new_password_inner.jade
        validation-observer(v-slot="{ invalid }", slim)
          form(@submit.prevent='update_password')
            .row.mb-4
              validation-provider.col-12.mb-4(
                tag='div',
                rules='required|min:9|confirmed:updatePassword.confirmNewPassword',
                v-slot='{ errors, classes, passed }'
              )
                label.form-label.mb-1(for='new_password') 輸入新密碼
                input#new_password.form-control.px-6(
                  type='password',
                  placeholder='請輸入新密碼',
                  name='新密碼',
                  v-model='updatePassword.newPassword',
                  :class='classes'
                )
                .w-100.invalid-feedback {{ errors[0] }}
              validation-provider.col-12.mb-4(
                tag='div',
                rules='required|min:9',
                vid="updatePassword.confirmNewPassword",
                v-slot='{ errors, classes, passed }'
              )
                label.form-label.mb-1(for='confirm_new_password') 再次輸入
                input#confirm_new_password.form-control.px-6(
                  type='password',
                  placeholder='再次輸入新密碼',
                  name='再次輸入新密碼',
                  v-model='updatePassword.confirmNewPassword',
                  :class='classes'
                )
                .w-100.invalid-feedback {{ errors[0] }}
              .col-12(v-if='errorMessage.updatePassword')
                p.small.text-center.text-danger.mt-4.mb-0 {{ errorMessage.updatePassword }}
            button.btn.btn-primary.btn-lg.d-block.w-100.fw-bold(
              type="button",
              :disabled='invalid'
              @click='update_password'
            ) 重設密碼
  include ./components/_stickyNavSub.jade
