extends extends/_layoutTemplate_innerPage.jade
block bodyMainPush
  .col-lg.me-lg-7
    h1.h5.text-center.fw-bold.bg-white.border.border-2.border-dark.rounded-0.u-solidShadowDoub--leftBottom.py-4.mb-8
      | 修改個人資料
    .nav.nav-tabs.border-bottom-0.mx-4
      button.nav-link.active(
        data-bs-toggle='tab',
        data-bs-target='#nav-profile',
        type='button',
        role='tab'
      ) 暱稱修改
      button.nav-link(
        data-bs-toggle='tab',
        data-bs-target='#nav-changePassword',
        type='button',
        role='tab'
      ) 重設密碼
    #nav-tabContent.tab-content.bg-white.card
      #nav-profile.tab-pane.card-body.p-4.py-md-8.px-md-26.fade.show.active(
        role='tabpanel',
        aria-labelledby='nav-profile-tab'
      )
        include ./components/_edit_profile_inner.jade
        p.text-danger.text-center
          | 1.圖片寬高比必需為 1:1，請重新輸入
          br 
          | 2. 解析度寬度至少 300像素以上，請重新輸入
        button.btn.btn-primary.btn-lg.d-block.w-100.fw-bold(type="button") 送出更新
      #nav-changePassword.tab-pane.card-body.p-4.py-md-8.px-md-26.fade(
        role='tabpanel',
        aria-labelledby='nav-changePassword-tab'
      )
        include ./components/_new_password_inner.jade
  include ./components/_stickyNavSub.jade
