extends extends/_layoutTemplate_into.jade
block bodyMainPush
  main.container-fluid
    .p-login.border.border-dark.border-2.bg-light.u-opacityShadow-lb.px-md-9.py-6.py-md-17.my-4
      .container
        .row.gx-md-12
          .col-md-auto.d-flex.align-items-center.justify-content-center.mb-4.mb-md-0
            img.p-loginMainImg.img-fluid(src="~images/MetaWall_img.svg")
          .col-md
            .text-center
              h1.c-logo.c-logo--xl.text-primary.mb-0(title="MetaWall logo") MetaWall
              h2.h4.mb-6.mb-md-9
                span.d-inline-block 到元宇宙
                span.d-inline-block 展開全新社交圈
            validation-observer(v-slot="{ invalid }")
              form(@submit.prevent="sign_in")
                .row.mb-4
                  .col-12
                    validation-provider.mb-4(
                      tag="div",
                      rules="required|email",
                      v-slot="{ errors, classes, passed }"
                      )
                        input.form-control(
                          type="email",
                          name="Email"
                          placeholder="Email",
                          v-model='longInData.email',
                          :class="classes"
                        )
                        .w-100.invalid-feedback {{ errors[0] }}
                  .col-12
                    validation-provider.mb-4(
                      tag="div",
                      rules="required|min:9",
                      v-slot="{ errors, classes, passed }")
                        input.form-control(
                          type="password",
                          placeholder="Password",
                          name="password",
                          v-model='longInData.password',
                          :class="classes"
                        )
                        .w-100.invalid-feedback {{ errors[0] }}
                  .col-12(v-if='errorMessage')
                    p.small.text-center.text-danger.mt-4.mb-0 {{ errorMessage }}
                button.w-100.btn.btn-primary.btn-lg.mb-4.d-block(
                  type="submit",
                  :disabled="invalid"
                ) 登入
                button.w-100.btn.btn-link.d-block.py-0(
                  type="button",
                  onClick='document.location.href = "register.html"'
                ) 註冊帳號
