extends extends/_layoutTemplate_into.jade
block bodyMainPush
  main.row
    .container
      .row
        .col
          .card.p-login.rounded-0.border.border-dark.border-2.bg-light.u-opacityShadow-lb.my-4
            .card-body.px-4.px-md-9.px-lg-12.pt-12.pb-8.pt-lg-17.pb-lg-13
              .row.gx-md-12
                .col-md-6.col-lg-auto.d-flex.align-items-center.justify-content-center.mb-4.mb-md-0
                  img.p-loginMainImg.img-fluid(src="~images/MetaWall_img.svg")
                .col-md
                  .text-center.mb-9
                    h1.c-logo.c-logo--xl.text-primary.mb-0(title="MetaWall logo") MetaWall
                    h2.h4.mb-0
                      span.d-inline-block 到元宇宙
                      span.d-inline-block 展開全新社交圈
                  form
                    // /** vee 表單驗証套件，由 :class="classes" 屬性傳入下面樣式
                        * 動態加入 touched pristine validated required failed 相關驗証套件樣式
                        * 操作 is-invalid，為 Bootstrap input .form-control 回應錯誤配合樣式
                        */
                    .row.mb-4
                      .col-12.mb-4
                        input.form-control.is-invalid(
                          type="email",
                          name="Email"
                          placeholder="Email",
                          value='pogiQQ@gmail.com',
                          required='required',
                        )
                      .col-12.mb-4
                        input.form-control.is-invalid(
                          type="password",
                          placeholder="Password",
                          name="password",
                          required='required'
                        )
                      .col-12(v-if='errorMessage')
                        p.small.text-center.text-danger.mt-4.mb-0 帳號或密碼錯誤，請重新輸入！
                    button.w-100.btn.btn-primary.btn-lg.d-block(
                      type="submit", disabled
                    ) 登入
                    button.w-100.btn.btn-link.btn-lg.d-block(
                      type="button",
                      onClick='document.location.href = "register.html"'
                    ) 註冊帳號
