extends extends/_layoutTemplate_innerPage.jade

block app_inner
  Loading(:active.sync="isLoading")
  
  nav-main(
    :user-data='userData',
    @push-signout='signout',
  )

block bodyMainPush
  article.col-lg
    .bg-white.border.border-2.border-dark.rounded-2.overflow-hidden.u-solidDoubShadow-lb.mb-4(v-if='personalUser.userData.followers')
      .row.g-0
        .col-auto
          .h-100.d-flex.align-items-center.border.border-2.border-dark.border-top-0.border-start-0.border-bottom-0
            .c-pseudoOneToOne.c-pseudoOneToOne--l.c-pseudoOneToOne--user.border-top-0.border-start-0.border-bottom-0(
              :style='{ backgroundImage: `url(${personalUser.userData.avatarUrl})` }'
            )
        .col
          .h-100.p-4.d-flex.justify-content-between.align-items-center
            p.mb-0
              span.d-block.fw-bold {{ personalUser.userData.userName }}
              span.d-block 
                span.d-inline-block.u-fontFamily--Lato.me-1
                  | {{ personalUser.userData.followers.length | currencyChange}}
                span.d-inline-block.me-1 人追蹤
            a.btn.btn-sm.fw-bold.text-nowrap.u-solidShadow-b.py-1.px-md-8(
              v-if='personalUser.userData._id !== userData._id',
              :class='{ "btn-warning": !personalUser.isFollow, "btn-light": personalUser.isFollow }'
              @click.prevent='clickFollow'
            ) 
              span.position-relative
                span(v-if='personalUser.isFollow') 取消追蹤
                span(v-else) 追蹤
                span.position-md-absolute.start-md-100.top-md-50.translate-middle-md-y.ms-md-1(v-if='personalUser.isLoad')
                  i.fas.fa-spinner.c-spinner--radiation
    
    search-bar(
      @send-search-emit='sendPersonalPostsSearch',
      v-if='!urlParaObj.post_id',
    )
    ul.list-unstyled.row.gy-4.mb-lg-0(v-if='posts.isLoad')
      li.col-12
        card-status(
          :inter-tag='`<span class="d-inline-block">資料讀取中 ...</span>`'
        )
    ul.list-unstyled.row.gy-4.mb-lg-0(
      v-else-if='!posts.isLoad && posts.data.length === 0'
    )
      li.col-12
        card-status(:inter-tag='`<span class="d-inline-block">目前尚無動態，</span><span class="d-inline-block">新增一則貼文吧！</span>`')
    ul.list-unstyled.row.gy-4.mb-lg-0(
      v-if='!posts.isLoad && posts.data.length > 0'
    )
      li.col-12(
        v-for='(post, index) in posts.data'
        :key='post.id'
      )
        card-post(
          :post-data='post',
          :incom-api-info='{cookieToken, apiUrl}'
        )

  nav-sub(:user-data='userData')
